---

---

<footer>
  <small>
    &copy; <span id="copyright"></span> OneMart. All rights reserved.
  </small>
</footer>

<script>
    const currentYear = new Date().getFullYear().toString();
    document.getElementById('copyright').textContent = currentYear;
</script>
